@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Lateef&family=Tajawal:wght@300&display=swap');
body {
    font-family: 'Lateef', cursive;
background-color: black;
    direction:ltr;
  }
#typedtext{
    color: white;
    font-size:40px; 

}